<h2>Select Users</h2>

<p><strong>Note</strong>: Only users who are authorized to request access
for others see the &quot;Select Users&quot; page. If you can only request access for
yourself, this page does not appear.</p>

<p>The users that you are authorized to request or remove access
for are listed; for example, managers will typically see all of their direct
reports listed. </p>

<ul>
<li><strong>Search for Users: </strong> Type the
text to search for, then press <strong>Enter</strong> or click the magnifying glass. The
search returns all users with attributes (such as name or description) that
start with the search term. (The specifics of which user attributes can be
searched is configured by your system administrator.)</li>

<li><strong>Filter Users: </strong>Click <strong>Filters</strong>
to choose and apply filter criteria. When you have chosen your criteria, click <strong>Apply</strong>.
When filtering is applied, the <strong>Filter</strong> button on the <strong>Select Users</strong> page
turns green, to alert you that you are seeing a filtered subset of users. To
clear filtering, click the <strong>Filters</strong> button again and click <strong>Clear</strong>.</li>

<li><strong>Select or Deselect Users: </strong>Click
the checkmark icon for each user you want to select. You can also click the <strong>All</strong>
button to select all users (maximum of 100). The <strong>Users Selected</strong> list, just
below the navigation bar, shows the users you have selected; you can click on
this list of users at any point in the access request process to remove users
from the selection. </li>
</ul>

<p><strong>To see user details</strong>: Click the person icon on any
user card to see details about the user.</p>

<p>Click <strong>Next</strong> to move on to the <strong>Manage Access</strong>
page.</p>

<h2>Manage Access</h2>

<p>On this page, you choose the access to add or remove for a
user, or the access to add for multiple users. </p>

<p><strong>Changing the Selected User(s)</strong>: To remove selected
users from the request, click the <strong>Users Selected</strong> list of names under the
search field, click X to remove each user, then click <strong>Save</strong>. To add more
users, click the <strong>Select Users</strong> header to go back to the <strong>Select Users</strong>
page. </p>

<h3>Add Access </h3>

<p>Use <strong>Search</strong> or <strong>Filter</strong> to find the access you
want to add to the selected users. Then click the checkmark icon for each item
to add it to the selected users. The users you have selected are listed just
below the search field. For roles, you can click <strong>Details</strong> on each role to
see more information about it.</p>

<ul>
<li><strong>Search By Keywords</strong>: Type all
or just the beginning of a keyword to search on. The search returns all access
items with attributes (such as description) starting with the search term. (The
specifics of which attributes can be searched is configured by your system
administrator.)</li>

<li><strong>Find Users' Access</strong>: This
option shows you access granted to a specific user (or multiple users), so that
you can choose items from that set of access, and request those items for the
user(s) in your selection. If you search on multiple users, the search results
show the number and percentage of users that have each type of access. </li>

<li><strong>Filter Population</strong>: Use
filter criteria to find users and see the access granted to them. For example,
you might filter for all users in the Engineering department to see which
access most Engineering employees have. Results show the number and percentage
of users in the filtered population that have each type of access.</li>

<li><strong>Filter</strong>: Click <strong>Filters</strong>
to choose and apply filter criteria for finding access items. You can filter on
any of the standard filter fields shown. To apply the filter, click <strong>Apply</strong>.
When filtering is applied, the <strong>Filter</strong> button turns green, to alert you
that you are seeing a filtered subset of access. To clear filtering, click the <strong>Filters</strong>
button again and click <strong>Clear</strong>.</li>

<li><strong>Browse all access items</strong>: To
see all access items, without searching or filtering, click the Browse all
access items link</li>

</ul>

<h3>Selecting or Creating Accounts</h3>

<p>If a user you have selected has multiple accounts on the
application associated with the access you are requesting, you are prompted to
choose which account to add the access to.</p>

<p>If your system is configured to let you request a new
account for a user as part of an access request, you are prompted to choose
whether you want to add access to the user's existing account or to create a
new account.</p>

<h3>Permitted Roles</h3>

<p>If you select a role that permits additional roles, you are
alerted that additional, optional roles are available, and can select any of
them to add to the request.</p>

<h3>Remove Access</h3>

<p>The option to remove access is available only when a single
user is selected. If you have selected multiple users, you will not see the <strong>Remove
Access</strong> option.</p>

<p>To remove access from the user, first click <strong>Remove Access</strong>
in the header area. Then click the X icon for each item to remove it from the user.
</p>

<p>Click <strong>Next</strong> to move on to the <strong>Review and Submit</strong>
page.</p>

<h2>Review and Submit</h2>

<p><strong>Priority: </strong>If your system is set up to allow
requesters to set a priority level for access requests, you can change the
priority for this request. The default setting is <strong>Normal Priority</strong>. When
you create an access request, you can change the priority to <strong>High Priority</strong>
or <strong>Low Priority<br>
</strong><i>Administrators: Priority editing is enabled via the gear menu &gt;
Lifecycle Manager &gt; Configure &gt; General Options.</i></p>

<p><strong>Add attachments</strong>: If your system is set up to allow
attachments, you can click the paper clip icon to add attachments to the
request. Attachments are available only when you are requesting access for a
single user. Size and file type limitations for attachments are configured by
your system administrator.<br>
<i>Administrators: Attachments are enabled via the gear menu &gt; Global
Settings &gt; IdentityIQ Configuration &gt; Miscellaneous.</i></p>

<p><strong>Comments and Assignment Notes</strong>: Click the comments
icon to add comments and assignment notes. </p>

<ul>
<li><strong>Comments</strong> can be added and viewed
throughout the request and approval cycle. Approvers can view the comments that
are added as part of the request, and add their own during the approval phase.</li>

<li><strong>Assignment Notes</strong> are
available only for Role assignments. They are similar to comments in that they
can be viewed by reviewers, but unlike comments, assignment notes are saved
with the role assignment information that is stored on the user's identity.</li>
</ul>

<p><strong>Sunrise/Sunset Dates</strong>: If your system is set up to
allow sunrise (assignment) and sunset (deprovisioning) dates for roles and
entitlements, you can click the Calendar icon to set these dates. Sunrise and
sunset dates can be set at the overall request level, or individually for each
request item.<br>
<i>Administrators: Sunrise/sunset dates are enabled via the gear menu &gt; Global
Settings &gt; Roles.</i></p>

<p><strong>Details</strong>: For any role, click <strong>Details</strong> to see
information such as the application associated with the role, the Attribute,
the Name of the role, and how the role was assigned.</p>

<p>Before you submit the request, you can use the navigation
bar to return to the <strong>Select Users</strong> and <strong>Manage Access</strong> pages to make
changes. Some changes, such as adding more users to the request, may reset some
of the selections you have made. </p>

<h3>Policy Violations</h3>

<p>IdentityIQ can be configured to alert you if your request
will result in a policy violation. If this option is enabled, you will see a
warning message for any potential policy violations. You can choose to change
the request to remove one or more of the conflicting items, or you can submit
the request with the violation. You can also click on the policy violation rule
name to see details about the violation, including compensating controls and
correction advice.</p>

<p>When you are ready to submit the request, click <strong>Submit</strong>.</p>