<h2>My Access Reviews</h2>

<p>The access reviews awaiting your attention are listed here.
For each review, a card shows:</p>

<ul>
<li>The name of the access review</li>

<li>A percentage progress wheel indicating how much of this review
has been completed so far</li>

<li>When the review is due</li>

<li>How many items are in this review, and how many are completed</li>

<li>Who requested the review - this is the person who set up the
certification</li>

<li>Any tags assigned to the review, to classify it for searching and
reporting</li>

<li>The<strong> phase</strong> the review is in:</li>

<ul>

<li><strong>Active</strong> - the period when all the review decisions are
made. The active period lasts either for a scheduled amount of time, or until
all the access reviews for the certification have been signed off. </li>

<li><strong>Challenge</strong> - an optional period when users can challenge decisions
that revoke any of their roles, entitlements, or account group access. At the
start of the challenge phase, users who are affected by a revocation are
notified, with details about the decision and any comments from the reviewer.
The affected user has the duration of the challenge period to accept the loss
of access or challenge that decision. A challenge period is enabled as part of
the certification's configuration parameters when it is scheduled. </li>

<li><strong>Revocation</strong> - the period when all revocation work is
performed. Revocations are done either automatically or manually. Revocations
can be automatic if your provisioning provider is configured for automatic
revocation, or if your IdentityIQ implementation is configured to work with a
help desk solution to generate a help ticket. If you don't have an automatic
revocation process enabled, revocation is done manually via work requests
assigned to the relevant users in IdentityIQ. Revocation activity is monitored
to ensure that inappropriate access is revoked in a timely manner, and
revocation status is updated daily by default. To see details about revocations,
click the <strong>information</strong> icon then click the <strong>Details</strong> button on the
information dialog. Revocation requests that are not acted upon during the
revocation phase can be escalated as needed.</li>

<li><strong>End</strong> - the access review is complete.</li>

</ul>
</ul>

<h3>Forwarding a Review</h3>

<p>If the certification allows you to <strong>forward</strong> this
review to someone else, click the arrow button to forward it. Forwarding means
you pass the review entirely to another user and relinquish all responsibility for
it. You can't retract or monitor a forwarded review, and the new owner has the
ability to change any decisions you may have already made. For comparison, after
you start the review you may be able to <strong>delegate</strong> or <strong>reassign</strong>
parts of the review as an alternative to forwarding. <strong>Delegating</strong> lets you
pass part or all of the review to someone else to make decisions and then return
the review to you, so that you can review and accept or change their decisions,
then sign off. <strong>Reassigning</strong> lets you pass to someone else and give that
person full responsibility for all decisions on those items, including sign-off;
when you reassign items you typically retain the final responsibility for
making sure the person the items were reassigned to completes the review</p>

<h3>Sorting Options</h3>

<p>Click <strong>Sort By</strong> to choose criteria for sorting. Use the
ordering button beside <strong>Sort By</strong> to toggle between ascending and
descending order.</p>

<h3>Viewing Completed Reviews</h3>

<p>By default, reviews you have completed and signed off do not
appear in your access review list. To see them, click <strong>Show Signed Items</strong>.</p>

<h3>Starting or Resuming the Review</h3>

<p>To begin the review, click <strong>Start</strong>. Once a review is in
progress, resume work by clicking <strong>Continue</strong>. </p>
